body {
    font-family: Arial, sans-serif;
}

.color-palette-container {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.hue-slider {
    margin-right: 1rem;
}

.color-palette {
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-gap: 20px;
    width: 200px;
}

.color-box {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.content {
    padding: 1rem;
}
